<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  
  <title>Proof of Concept - Offline storage</title>
  
  <script src="js/angular.min.js"></script>
  
  <script src="js/lawnchair-0.6.1.js"></script>
  <script src="js/lawnchair-adapter-indexed-db-0.6.1.js"></script>
  
  <!--
  <script src="js/memory-adapter.js"></script>
  <script src="js/filesystem-adapter.js"></script>
  -->
  
  <script src="js/app.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="sampleApp">

	<div class="container-fluid">
		
		<div ng-controller="weatherController">
			
			<form class="form-inline" role="form">
			  <div class="form-group">
				<label for="location">Locations</label>
				<input type="text" class="form-control" id="location" placeholder="Type your place here" ng-model="currentPlace">
				<button type="submit" class="btn btn-success" ng-click="saveLocation();">Save <span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-success" ng-click="loadLocation();">Refresh <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-warning" ng-click="deleteAll();">Nuke <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></button>
			  </div>
			</form>
			
			<h2 ng-show="locations.length > 0">All Locations upto now:</h2>
			
			<table class="table">
			  <tr ng-repeat="location in locations">
				<td>Posted at {{location.time}}</td>
				<td>Location: {{location.place}}</td>
				<td ng-show="location.temp != null">Temperature: {{location.temp - 275 | number:1}} °C</td>
				<td class="text-danger" ng-show="location.temp == null">Temperature is not (yet) available <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></td>
				<td><button type="button" class="btn btn-danger" ng-click="deleteLocation($index);">Delete</button></td>
			  </tr>
			</table>
		</div>
	</div>
</body>
</html>